Makefile*
config.*
configure
depcomp
libtool
ltmain.sh
missing
install-sh
stamp-h1
*.cache
*.spec
*.pri
*.lo
*.la
*.a
*.o
*.so
*.pc
*.m4
.m4
.deps
.libs
lscp/version.h
doc/html
doc/doxygen-build.stamp
doc/liblscp.doxygen
example_client
example_server
